.popup__input {
    display: grid;
    gap: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 562px) {
.popup__input {
    margin-left: 22px;
}
}