.popup__about {
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 36px;
    margin-right: 36px;
    
}


@media screen and (max-width: 767px) {
    .popup__about {
        margin-left: 22px;
        margin-right: 22px;
    }
    }