.profile__describe {
    color: #FFFFFF;
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}




@media screen and (max-width: 767px) {
    .profile__describe {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
}
}